<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Database Access | Real Estate Database</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </head>
    <body style="background-color: #eee;">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand"  >Real Estate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sell')}}">Sell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('update_sell')}}">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('buy_land')}}">Buy Land</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('buy_house')}}">Buy House</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('rent')}}">Rent</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('show_public_database') }}">All Database <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        {% for tablename, colnames, rows in data %}
        <div class="container pt-3">
            <table class="table table-striped table-bordered table-hover table-responsive-sm">
                <caption>{{ tablename }}</caption>
                <thead>
                    <tr>
                        {% for colname in colnames %}
                        <th scope="col">{{ colname  }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in enumerate(rows) %}
                    <tr>
                        {% for item in row %}
                        <td>{{ item.strftime(date_format) if isinstance(item, datetime) else item }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}

        <div>
            <form action="" method="POST"><p style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                Details:<br>
                Client ID: <input type="text" name="buyer_id" placeholder="Your client id" value="{{request.form.buyer_id}}"><br>
                Plot ID: <input type="text" name="house_id" placeholder="House ID" value="{{request.form.house_id}}"><br><br>
                <input type="submit" value="Proceed to book/buy">
            </p>
            </form>
        </div>
        <script src="/static/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="/static/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
